@{
    Layout = null;
}

<!-- Footer -->
<footer class="footer no-margin-top">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-md-offset-1">
                <h6 class="footer-title letter-spacing-2"><b>Follow us</b></h6>
                <ul class="list-unstyled footer-link-list">
                    <li><a href="https://facebook.com/clickandgrow" target="_blank">Facebook</a></li>
                    <li><a href="https://instagram.com/clickandgrow" target="_blank">Instagram</a></li>
                    <li><a href="https://twitter.com/clickandgrow" target="_blank">Twitter</a></li>
                    <li class="hide"><a href="https://www.pinterest.com/clickandgrow" target="_blank">Pinterest</a></li>
                    <li><a href="http://www.clickandgrow.com/blogs/news">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <h6 class="footer-title letter-spacing-2"><b>Quick links</b></h6>
                <ul class="list-unstyled footer-link-list">

                    <li><a href="@Url.Action("AboutUs","About")">Giới thiệu</a></li>
                    
                    <li><a href="@Url.Action("PlantCapsules","Product")">Viên nén trồng cây</a></li>

                    @*<li><a href="/pages/contact-us">Contact us</a></li>*@

                    <li><a href="@Url.Action("AllNews","News")">Thông tin</a></li>

                </ul>
            </div>
            @*<div class="col-md-4 col-sm-4">
                <h6 class="footer-title letter-spacing-2"><b>Newsletter</b></h6>
                <form action="//clickandgrow.us6.list-manage.com/subscribe/post?u=edbe7dd578af8aec4849f5c67&amp;id=f1fff1f6c5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="form-theme form-transparent ">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon fc-right"><i class="fa fa-envelope"></i></div>
                                <input type="email" class="form-control" name="EMAIL" placeholder="Your email" id="mail">
                            </div>
                        </div>

                        <input type="submit" value="Submit" class="btn btn-light" onclick="ga('send', 'event', 'footer', 'subscribed to newsletter', 'subscribed to newsletter: footer', 0);">

                    </div>
                </form>
            </div>*@

        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            @*<div class="row">
                <div class="col-xs-12 text-center mar-bot-50 mar-top-30">

                    <h4 class="text-center hide">Accepted Payments</h4>
                    <ul class="inline-list payment-icons">


                        <li>
                            <span class="icon-fallback-text">
                                <span class="icon icon-american_express" aria-hidden="true"></span>
                                <span class="fallback-text">american express</span>
                            </span>
                        </li>





                        <li>
                            <span class="icon-fallback-text">
                                <span class="icon icon-diners_club" aria-hidden="true"></span>
                                <span class="fallback-text">diners club</span>
                            </span>
                        </li>



                        <li>
                            <span class="icon-fallback-text">
                                <span class="icon icon-discover" aria-hidden="true"></span>
                                <span class="fallback-text">discover</span>
                            </span>
                        </li>



                        <li>
                            <span class="icon-fallback-text">
                                <span class="icon icon-jcb" aria-hidden="true"></span>
                                <span class="fallback-text">jcb</span>
                            </span>
                        </li>



                        <li>
                            <span class="icon-fallback-text">
                                <span class="icon icon-master" aria-hidden="true"></span>
                                <span class="fallback-text">master</span>
                            </span>
                        </li>



                        <li>
                            <span class="icon-fallback-text">
                                <span class="icon icon-paypal" aria-hidden="true"></span>
                                <span class="fallback-text">paypal</span>
                            </span>
                        </li>



                        <li>
                            <span class="icon-fallback-text">
                                <span class="icon icon-visa" aria-hidden="true"></span>
                                <span class="fallback-text">visa</span>
                            </span>
                        </li>


                    </ul>
                </div>
            </div>*@

            <div class="row">
                <div class="col-md-12 text-center text-uppercase letter-spacing-1">
                    <h6 class="text-vertical-large">© Falcon Solution Ltd 2018. All Rights Reserved.</h6>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End of Footer -->
