<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!-- CSS PAGE================================================== -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <title>Logistics</title>
</head>
<body>
    @RenderBody()
</body>
</html>

