@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr" class="js windows chrome desktop page--no-banner page--logo-main page--show page--show card-fields cors svg opacity csspointerevents placeholder no-touchevents displaytable display-table generatedcontent cssanimations boxshadow flexbox flexboxlegacy no-flexboxtweener anyflexbox no-shopemoji floating-labels" style="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>SGS - Checkout</title>

    <meta data-browser="chrome" data-browser-major="64">
    <meta data-body-font-family="Helvetica Neue" data-body-font-type="system">
    <link href="~/Content/css/style_order.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>

