@model Vino.Server.Services.MainServices.Users.Models.UserModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Thêm mới người dùng
        </h1>
        <div class="pull-right">
            <a class="btn bg-blue" href="@Html.Raw(Url.Action("UserList"))"><i class="fa fa-chevron-left" aria-hidden="true"></i> Quay Lại</a>
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Lưu
            </button>
            <button type="submit" name="ContinueEditing" value="true" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    Lưu và chỉnh sửa
                </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateUser", Model)
}