@using System.Web.Mvc
@using Vino.Shared.Constants.Common
@model Vino.Server.Services.MainServices.CRM.Topic.Model.TopicModel

@{
    ViewData["Title"] = "Intro";
}
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="form-group">
                <img src="@Model.ImagePath" alt="@Model.Name" style="height: 50%; width: 50%"/>
            </div>
        </div>
    </div>
</div>