@model Vino.Server.Web.Models.News.NewsTabModel
@if(Model.ListNews != null && Model.ListNews.Any()) {
    foreach (var news in Model.ListNews)
    {
        <div class="posttilewrapper w-dyn-item w-col w-col-3">
            <a href="/post/5-agtech-predictions-for-2018" class="post-tile w-inline-block">
                <div style="background-image: url(&quot;https://daks2k3a4ib2z.cloudfront.net/59017f845690d510b6334964/5a5ff861d406d60001e91c20_jan18_th.jpg&quot;)" class="post-tile-image-wrapper">
                    <div style="background-color:#41538d" class="post-tile-post-type">News</div>
                </div>
                <div class="post-tile-content">
                    <div class="post-tile-meta">
                        <div class="posttile__date">@news.CreatedAt</div>
                    </div>
                    <h4 class="posttile__headline">@news.Title</h4>
                    <p class="posttile__para">@news.Short</p>
                </div>
                <div class="posttile__bottomgrad"></div>
            </a>
        </div>
    }
}